openapi: 3.2.0
info:
  title: Tabs External Payments API
  description: ''
  version: 1.0.0
  contact: {}
  x-apievangelist:
    generated: '2026-07-21'
    method: searched
    source: https://docs.tabsplatform.com/reference (OpenAPI definitions embedded per-operation in the ReadMe reference pages, merged; index at https://docs.tabsplatform.com/llms.txt)
    source_pages: 93
servers:
- url: https://integrators.prod.api.tabsplatform.com
security:
- custom-header: []
tags:
- name: Payments
paths:
  /v3/payments:
    get:
      operationId: IntegratorsApiPaymentsController_getPayments
      parameters:
      - name: page
        required: true
        in: query
        description: Page Number
        schema:
          default: 1
          type: number
      - name: limit
        required: true
        in: query
        description: Number of items to return
        schema:
          default: 50
          type: number
      - name: filter
        required: false
        in: query
        description: "\n        Supported items for filter: receivedAt, status, type, invoiceId, customerId.\n\n        Filtering parameter in the format \"property:rule:value\".\n\n        Example: \"receivedAt:eq:[some date]\" or \"status:eq:[some status]\".\n\n        For multiple filters use \"receivedAt:eq:[some date],status:eq:[some status]\".\n\n        Supported rules: eq, neq, gt, gte, lt, lte, like, nlike, in, nin, isnull, isnotnull.\n        "
        schema:
          type: string
      responses:
        '200':
          description: Get all Payments by filter
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      allOf:
                      - $ref: '#/components/schemas/PaginatedResponseDTO'
                      - properties:
                          data:
                            type: array
                            items:
                              $ref: '#/components/schemas/PaymentsV3Dto'
                          limit:
                            type: number
                          totalItems:
                            type: number
                          currentPage:
                            type: number
      summary: List payments
      tags:
      - Payments
components:
  schemas:
    IntegratorsApiResponse:
      type: object
      properties:
        payload:
          type: object
          description: Response payload, will be empty when success is false
        success:
          type: boolean
          description: Boolean with true=success, false=failure
        message:
          type: string
          description: Plain-text description of the result
        error:
          description: json element with any error messages or warnings
          allOf:
          - $ref: '#/components/schemas/IntegratorsApiError'
      required:
      - payload
      - success
      - message
      - error
    IntegratorsApiError:
      type: object
      properties:
        code:
          type: number
          description: API response code
        message:
          type: string
          description: API response message
        details:
          type: object
          description: Additional details about the error
      required:
      - code
      - message
    PaginatedResponseDTO:
      type: object
      properties: {}
    PaymentsV3Dto:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the payment
          example: 123e4567-e89b-12d3-a456-426614174000
        invoiceId:
          type: string
          description: List of invoices associated with this payment
          example: 123e4567-e89b-12d3-a456-426614174000
        total:
          type: number
          description: Total amount of the payment
          example: 99.99
        stripeId:
          type: string
          description: Stripe payment ID if payment was processed through Stripe
          example: pi_1234567890
        receivedAt:
          format: date-time
          type: string
          description: Date when payment was received
          example: '2023-01-01T00:00:00.000Z'
        status:
          type: string
          description: Current status of the payment
          enum:
          - OPEN
          - COMPLETED
          - EXPIRED
          - FAILED
          - CANCELED
          - UNCOLLECTIBLE
          example: COMPLETED
        type:
          type: string
          description: Type of payment
          enum:
          - MANUAL
          - STRIPE
          - RECONCILIATION
          - REFUND
          - CREDIT_MEMO_FROM_ERP
          example: MANUAL
        reference:
          type: string
          description: Payment reference number
          example: REF123456
        method:
          type: string
          description: Payment method used
          enum:
          - CREDIT_CARD
          - ACH_DEBIT
          - ACH_CREDIT
          - CHECK
          - LINK
          example: CREDIT_CARD
        externalIds:
          description: List of external system identifiers
          type: array
          items:
            $ref: '#/components/schemas/IntegrationsExternalId'
      required:
      - id
      - invoiceId
      - total
      - receivedAt
      - status
      - type
      - method
      - externalIds
    ExternalIdSourceType:
      type: string
      enum:
      - QUICKBOOKS
      - NETSUITE
      - RILLET
      - SAGE_INTACCT
      - SALESFORCE
      - HUBSPOT
      - AVALARA
      - ANROK
      - STRIPE
    IntegrationsExternalId:
      type: object
      properties:
        type:
          description: Type of external ID source
          example: QUICKBOOKS
          allOf:
          - $ref: '#/components/schemas/ExternalIdSourceType'
        id:
          type: string
          description: External identifier value
          example: pi_1234567890
      required:
      - type
      - id
  securitySchemes:
    custom-header:
      type: apiKey
      name: Authorization
      in: header
