openapi: 3.2.0
info:
  title: Tabs External Invoices API
  description: ''
  version: 1.0.0
  contact: {}
  x-apievangelist:
    generated: '2026-07-21'
    method: searched
    source: https://docs.tabsplatform.com/reference (OpenAPI definitions embedded per-operation in the ReadMe reference pages, merged; index at https://docs.tabsplatform.com/llms.txt)
    source_pages: 93
servers:
- url: https://integrators.prod.api.tabsplatform.com
security:
- custom-header: []
tags:
- name: Invoices
paths:
  /v3/invoices:
    get:
      operationId: IntegratorsApiInvoicesController_getInvoices
      parameters:
      - name: page
        required: true
        in: query
        description: Page Number
        schema:
          default: 1
          type: number
      - name: limit
        required: true
        in: query
        description: Number of items to return
        schema:
          default: 50
          type: number
      - name: filter
        required: false
        in: query
        description: "\n            Supported items for filter: customerId, total, contractId, obligationId, source, status, issueDate, dueDate, lastUpdatedAt.\n\n            \"Dates should be in YYYY-MM-DD format\"\n            "
        schema:
          type: string
      responses:
        '200':
          description: Get all Invoices by filter
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      allOf:
                      - $ref: '#/components/schemas/PaginatedResponseDTO'
                      - properties:
                          data:
                            type: array
                            items:
                              $ref: '#/components/schemas/InvoiceV3Dto'
                          limit:
                            type: number
                          totalItems:
                            type: number
                          currentPage:
                            type: number
      summary: List invoices
      tags:
      - Invoices
components:
  schemas:
    IntegratorsApiResponse:
      type: object
      properties:
        payload:
          type: object
          description: Response payload, will be empty when success is false
        success:
          type: boolean
          description: Boolean with true=success, false=failure
        message:
          type: string
          description: Plain-text description of the result
        error:
          description: json element with any error messages or warnings
          allOf:
          - $ref: '#/components/schemas/IntegratorsApiError'
      required:
      - payload
      - success
      - message
      - error
    IntegratorsApiError:
      type: object
      properties:
        code:
          type: number
          description: API response code
        message:
          type: string
          description: API response message
        details:
          type: object
          description: Additional details about the error
      required:
      - code
      - message
    ItemV3Dto:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the item
          example: 123e4567-e89b-12d3-a456-426614174000
        name:
          type: string
          description: Name of the item
          example: Item 1
        displayName:
          type:
          - string
          - 'null'
          description: Display name of the item, as shown in the Tabs app. Null when not set.
          example: Item 1 (Annual)
        externalIds:
          description: List of external identifiers associated with the item
          type: array
          items:
            $ref: '#/components/schemas/ExternalIdV3Dto'
      required:
      - id
      - name
      - externalIds
    PaginatedResponseDTO:
      type: object
      properties: {}
    InvoiceV3Dto:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the invoice
          example: 123e4567-e89b-12d3-a456-426614174000
        issueDate:
          type: string
          description: Date the invoice was issued
          example: '2021-01-01'
        dueDate:
          type: string
          description: Date the invoice is due
          example: '2021-01-01'
        sentDate:
          type: string
          description: Date the invoice was sent to the customer
          example: '2021-01-01'
        createdAt:
          type: string
          description: Date the invoice was created
          example: '2021-01-01'
        status:
          type: string
          description: Current status of the invoice
          enum:
          - DRAFT
          - APPROVED
          - SENT
          - PAID
          - PARTIALLY_PAID
          - VOID
          - SENT_OFF_TABS
          - PENDING
          - DONE
          example: DRAFT
        invoiceNumber:
          type: string
          description: Invoice number
          example: '1234'
        memo:
          type: string
          description: Invoice memo
          example: A memo / note on the invoice
        customFields:
          description: Invoice custom fields
          example:
          - name: Custom Field 1
            value: A value for the custom field
          type: array
          items:
            type: string
        source:
          type: string
          description: Source of the invoice
          enum:
          - TABS
          - QBO
          - NETSUITE
          - AVALARA
          - SALESFORCE
          - HUBSPOT
          - STRIPE
          - RILLET
          - SAGE_INTACCT
          - CAMPFIRE
          example: TABS
        customerId:
          type: string
          description: ID of the customer this invoice belongs to
          example: 123e4567-e89b-12d3-a456-426614174000
        originalDueDate:
          type: string
          description: Original due date before any modifications
          example: '2021-01-01'
        originalIssueDate:
          type: string
          description: Original issue date before any modifications
          example: '2021-01-01'
        total:
          type: number
          description: Total amount in currency associated with the customer
          example: 100
        balanceRemaining:
          type: number
          description: Remaining balance in currency associated with the customer
          example: 100
        externalIds:
          description: List of external identifiers
          example:
          - id: 123e4567-e89b-12d3-a456-426614174000
            type: customer
          type: array
          items:
            $ref: '#/components/schemas/ExternalIdV3Dto'
        lineItems:
          description: Line items on this invoice
          type: array
          items:
            $ref: '#/components/schemas/InvoiceItemV3Dto'
        paymentLink:
          type: string
          description: Payment link for the invoice (Optional)
        poNumber:
          type: string
          description: PO number
          example: '1234'
        paidOn:
          type:
          - string
          - 'null'
          description: Date the invoice was fully paid
          example: '2024-01-15T00:00:00.000Z'
        uncollectibleOn:
          type:
          - string
          - 'null'
          description: Date the invoice was marked as uncollectible
          example: '2024-02-01T00:00:00.000Z'
        lastUpdatedAt:
          type: string
          description: Timestamp of last update
          example: '2024-01-01T00:00:00.000Z'
      required:
      - id
      - issueDate
      - dueDate
      - createdAt
      - status
      - source
      - customerId
      - originalDueDate
      - originalIssueDate
      - total
      - balanceRemaining
      - externalIds
      - lineItems
      - poNumber
      - paidOn
      - uncollectibleOn
      - lastUpdatedAt
    ExternalIdSourceType:
      type: string
      enum:
      - QUICKBOOKS
      - NETSUITE
      - RILLET
      - SAGE_INTACCT
      - SALESFORCE
      - HUBSPOT
      - AVALARA
      - ANROK
      - STRIPE
    InvoiceItemV3Dto:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the invoice item
          example: 123e4567-e89b-12d3-a456-426614174000
        name:
          type: string
          description: Name of the invoice item
          example: Item 1
        description:
          type: string
          description: Description of the invoice item
        quantity:
          type: number
          description: Quantity of items
          example: 1
        unitPrice:
          type: number
          description: Unit price in currency associated with the customer
          example: 100
        subtotal:
          type: number
          description: Subtotal before discounts in currency associated with the customer
          example: 110
        discountTotal:
          type: number
          description: Total discount amount for this line item in currency associated with the customer
          example: 10
        total:
          type: number
          description: Total in currency associated with the customer
          example: 100
        salesTaxRate:
          type:
          - string
          - 'null'
          description: Sales tax rate percentage for this line item
          example: '8.5'
        item:
          description: Associated item details
          allOf:
          - $ref: '#/components/schemas/ItemV3Dto'
      required:
      - id
      - name
      - description
      - quantity
      - unitPrice
      - subtotal
      - discountTotal
      - total
      - salesTaxRate
      - item
    ExternalIdV3Dto:
      type: object
      properties:
        type:
          description: Type of external ID source
          example: NETSUITE
          allOf:
          - $ref: '#/components/schemas/ExternalIdSourceType'
        id:
          type: string
          description: External identifier value
          example: 123e4567-e89b-12d3-a456-426614174000
      required:
      - type
      - id
  securitySchemes:
    custom-header:
      type: apiKey
      name: Authorization
      in: header
