openapi: 3.2.0
info:
  title: Tabs External Categories API
  description: ''
  version: 1.0.0
  contact: {}
  x-apievangelist:
    generated: '2026-07-21'
    method: searched
    source: https://docs.tabsplatform.com/reference (OpenAPI definitions embedded per-operation in the ReadMe reference pages, merged; index at https://docs.tabsplatform.com/llms.txt)
    source_pages: 93
servers:
- url: https://integrators.prod.api.tabsplatform.com
security:
- custom-header: []
tags:
- name: Categories
paths:
  /v3/categories:
    get:
      operationId: IntegratorsApiCategoriesController_getCategories
      parameters:
      - name: page
        required: true
        in: query
        description: Page Number
        schema:
          default: 1
          example: 1
          type: number
      - name: limit
        required: true
        in: query
        description: Number of items to return
        schema:
          default: 50
          example: 10
          type: number
      - name: filter
        required: false
        in: query
        description: 'Supported items for filter: name'
        schema:
          type: string
      responses:
        '200':
          description: Get all Categories by filter
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      allOf:
                      - $ref: '#/components/schemas/PaginatedResponseDTO'
                      - properties:
                          data:
                            type: array
                            items:
                              $ref: '#/components/schemas/CategoriesV3Dto'
                          limit:
                            type: number
                          totalItems:
                            type: number
                          currentPage:
                            type: number
      summary: List categories
      tags:
      - Categories
    post:
      operationId: IntegratorsApiCategoriesController_createCategory
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCategoryV3Dto'
      responses:
        '201':
          description: The Category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriesV3Dto'
        '400':
          description: Category already exists
        '500':
          description: Internal server error
      summary: Create category
      tags:
      - Categories
  /v3/categories/{id}:
    get:
      operationId: IntegratorsApiCategoriesController_getCategoryById
      parameters:
      - name: id
        required: true
        in: path
        description: Category Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      responses:
        '200':
          description: The Category
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      allOf:
                      - $ref: '#/components/schemas/CategoriesV3Dto'
        '404':
          description: Category not found
      summary: Get category by ID
      tags:
      - Categories
    delete:
      operationId: IntegratorsApiCategoriesController_deleteCategory
      parameters:
      - name: id
        required: true
        in: path
        description: Category Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      responses:
        '200':
          description: The category
        '404':
          description: Category not found
      summary: Delete category
      tags:
      - Categories
components:
  schemas:
    CreateCategoryV3Dto:
      type: object
      properties:
        name:
          type: string
          description: Name of the Category to create
          example: Premium Subscription
      required:
      - name
    IntegratorsApiResponse:
      type: object
      properties:
        payload:
          type: object
          description: Response payload, will be empty when success is false
        success:
          type: boolean
          description: Boolean with true=success, false=failure
        message:
          type: string
          description: Plain-text description of the result
        error:
          description: json element with any error messages or warnings
          allOf:
          - $ref: '#/components/schemas/IntegratorsApiError'
      required:
      - payload
      - success
      - message
      - error
    IntegratorsApiError:
      type: object
      properties:
        code:
          type: number
          description: API response code
        message:
          type: string
          description: API response message
        details:
          type: object
          description: Additional details about the error
      required:
      - code
      - message
    CategoriesV3Dto:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the Category
          example: 123e4567-e89b-12d3-a456-426614174000
        name:
          type: string
          description: Name of the Category
          example: Premium Subscription
      required:
      - id
      - name
    PaginatedResponseDTO:
      type: object
      properties: {}
  securitySchemes:
    custom-header:
      type: apiKey
      name: Authorization
      in: header
