openapi: 3.2.0
info:
  title: Tabs Health API
  version: 1.0.0
  x-refined-note:
  - x-apievangelist differs across the merged source definitions and was not carried
  description: 'Operations tagged Health across 2 of this provider''s published API definitions: tabs-external-api-openapi.yml, tabs-usage-api-beta-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://integrators.prod.api.tabsplatform.com
- url: https://usage-events.prod.api.tabsplatform.com
  description: Production Environment
security:
- custom-header: []
tags:
- name: Health
paths:
  /health/live:
    get:
      operationId: HealthController_live
      parameters: []
      responses:
        '200':
          description: ''
      summary: Liveness check
      tags:
      - Health
    servers:
    - url: https://integrators.prod.api.tabsplatform.com
  /health:
    get:
      operationId: HealthController_check
      parameters: []
      responses:
        '200':
          description: The Health Check is successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  info:
                    type:
                    - object
                    - 'null'
                    example:
                      database:
                        status: up
                    additionalProperties:
                      type: object
                      required:
                      - status
                      properties:
                        status:
                          type: string
                      additionalProperties: true
                  error:
                    type:
                    - object
                    - 'null'
                    example: {}
                    additionalProperties:
                      type: object
                      required:
                      - status
                      properties:
                        status:
                          type: string
                      additionalProperties: true
                  details:
                    type: object
                    example:
                      database:
                        status: up
                    additionalProperties:
                      type: object
                      required:
                      - status
                      properties:
                        status:
                          type: string
                      additionalProperties: true
        '503':
          description: The Health Check is not successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  info:
                    type:
                    - object
                    - 'null'
                    example:
                      database:
                        status: up
                    additionalProperties:
                      type: object
                      required:
                      - status
                      properties:
                        status:
                          type: string
                      additionalProperties: true
                  error:
                    type:
                    - object
                    - 'null'
                    example:
                      redis:
                        status: down
                        message: Could not connect
                    additionalProperties:
                      type: object
                      required:
                      - status
                      properties:
                        status:
                          type: string
                      additionalProperties: true
                  details:
                    type: object
                    example:
                      database:
                        status: up
                      redis:
                        status: down
                        message: Could not connect
                    additionalProperties:
                      type: object
                      required:
                      - status
                      properties:
                        status:
                          type: string
                      additionalProperties: true
      summary: Health check
      tags:
      - Health
    servers:
    - url: https://integrators.prod.api.tabsplatform.com
  /info:
    get:
      tags:
      - Health
      summary: Application information
      description: Returns basic information about the application including name, version, and description
      operationId: info
      responses:
        '200':
          description: Application information retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfoResponse'
              examples:
                Info Response:
                  description: Info Response
                  value:
                    application: events-api
                    version: 0.0.1-SNAPSHOT
                    description: Event Ingestion API for usage in Tabs
    servers:
    - url: https://usage-events.prod.api.tabsplatform.com
      description: Production Environment
components:
  schemas:
    InfoResponse:
      type: object
      properties:
        application:
          type: string
          description: Application name
          example: events-api
        version:
          type: string
          description: Application version
          example: 0.0.1-SNAPSHOT
        description:
          type: string
          description: Application description
          example: Event Ingestion API for usage in Tabs
      description: Application information response
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          description: Overall health status
          example: ok
          enum:
          - ok
          - partial
          - down
        info:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/DependencyStatus'
          description: Health information for each dependency
        error:
          type: object
          additionalProperties:
            type: object
            description: Error information (empty if healthy)
          description: Error information (empty if healthy)
        details:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/DependencyStatus'
          description: Detailed health information for each dependency
      description: Health check response containing status of application and dependencies
    DependencyStatus:
      type: object
      properties:
        status:
          type: string
          description: Status of the dependency
          example: up
          enum:
          - up
          - down
        error:
          type: string
          description: Error message if the dependency is down
          example: Connection refused
      description: Status information for a dependency
  securitySchemes:
    custom-header:
      type: apiKey
      name: Authorization
      in: header
x-refined-from:
- tabs-external-api-openapi.yml
- tabs-usage-api-beta-openapi.yml
