openapi: 3.0.0
info:
  title: Tabs External Billing Terms Custom Fields API
  description: ''
  version: 1.0.0
  contact: {}
  x-apievangelist:
    generated: '2026-07-21'
    method: searched
    source: https://docs.tabsplatform.com/reference (OpenAPI definitions embedded per-operation in the ReadMe reference pages, merged; index at https://docs.tabsplatform.com/llms.txt)
    source_pages: 93
servers:
- url: https://integrators.prod.api.tabsplatform.com
security:
- custom-header: []
tags:
- name: Custom Fields
paths:
  /v3/custom-fields:
    get:
      operationId: IntegratorsApiCustomFieldsController_getCustomFields
      parameters: []
      responses:
        '200':
          description: Get all custom fields
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      properties:
                        data:
                          type: array
                          items:
                            $ref: '#/components/schemas/CustomFieldDto'
        '500':
          description: Internal server error
      summary: List custom fields
      tags:
      - Custom Fields
components:
  schemas:
    IntegratorsApiError:
      type: object
      properties:
        code:
          type: number
          description: API response code
        message:
          type: string
          description: API response message
        details:
          type: object
          description: Additional details about the error
      required:
      - code
      - message
    CustomFieldDto:
      type: object
      properties:
        id:
          type: string
          description: The ID of the custom field
          example: 123e4567-e89b-12d3-a456-426614174000
        name:
          type: string
          description: The name of the custom field
          example: Custom Field 1
        externalId:
          type: string
          description: The external ID of the custom field
          example: '123'
      required:
      - id
      - name
      - externalId
    IntegratorsApiResponse:
      type: object
      properties:
        payload:
          type: object
          description: Response payload, will be empty when success is false
        success:
          type: boolean
          description: Boolean with true=success, false=failure
        message:
          type: string
          description: Plain-text description of the result
        error:
          description: json element with any error messages or warnings
          allOf:
          - $ref: '#/components/schemas/IntegratorsApiError'
      required:
      - payload
      - success
      - message
      - error
  securitySchemes:
    custom-header:
      type: apiKey
      name: Authorization
      in: header
