openapi: 3.0.0
info:
  title: Tabs External API
  description: ''
  version: 1.0.0
  contact: {}
  x-apievangelist:
    generated: '2026-07-21'
    method: searched
    source: https://docs.tabsplatform.com/reference (OpenAPI definitions embedded per-operation in the ReadMe reference pages, merged; index at https://docs.tabsplatform.com/llms.txt)
    source_pages: 93
servers:
- url: https://integrators.prod.api.tabsplatform.com
paths:
  /health/live:
    get:
      operationId: HealthController_live
      parameters: []
      responses:
        '200':
          description: ''
      summary: Liveness check
      tags:
      - Health
  /health:
    get:
      operationId: HealthController_check
      parameters: []
      responses:
        '200':
          description: The Health Check is successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  info:
                    type: object
                    example:
                      database:
                        status: up
                    additionalProperties:
                      type: object
                      required:
                      - status
                      properties:
                        status:
                          type: string
                      additionalProperties: true
                    nullable: true
                  error:
                    type: object
                    example: {}
                    additionalProperties:
                      type: object
                      required:
                      - status
                      properties:
                        status:
                          type: string
                      additionalProperties: true
                    nullable: true
                  details:
                    type: object
                    example:
                      database:
                        status: up
                    additionalProperties:
                      type: object
                      required:
                      - status
                      properties:
                        status:
                          type: string
                      additionalProperties: true
        '503':
          description: The Health Check is not successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  info:
                    type: object
                    example:
                      database:
                        status: up
                    additionalProperties:
                      type: object
                      required:
                      - status
                      properties:
                        status:
                          type: string
                      additionalProperties: true
                    nullable: true
                  error:
                    type: object
                    example:
                      redis:
                        status: down
                        message: Could not connect
                    additionalProperties:
                      type: object
                      required:
                      - status
                      properties:
                        status:
                          type: string
                      additionalProperties: true
                    nullable: true
                  details:
                    type: object
                    example:
                      database:
                        status: up
                      redis:
                        status: down
                        message: Could not connect
                    additionalProperties:
                      type: object
                      required:
                      - status
                      properties:
                        status:
                          type: string
                      additionalProperties: true
      summary: Health check
      tags:
      - Health
  /v3/events/bulk:
    post:
      operationId: IntegratorsApiEventsController_createEvents
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkCreateEventDto'
      responses:
        '200':
          description: The Events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedEventsDto'
        '400':
          description: Some events failed validation
        '500':
          description: Internal server error
      summary: Bulk create events (legacy)
      tags:
      - Events
    delete:
      operationId: IntegratorsApiEventsController_deleteEventsBulk
      parameters: []
      requestBody:
        required: true
        description: Array of event IDs to delete
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
              example:
              - event-id-1
              - event-id-2
              - event-id-3
      responses:
        '200':
          description: All events deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    example: 200
        '400':
          description: Bad request - invalid event IDs or other validation errors
        '404':
          description: One or more events not found - no events will be deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    example: 404
                  message:
                    type: string
                    example: 'Events not found: event-id-1, event-id-2'
        '500':
          description: Internal server error - transaction failed
      summary: Bulk delete events (legacy)
      tags:
      - Events
  /v3/events:
    post:
      operationId: IntegratorsApiEventsController_createEvent
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEventDto'
      responses:
        '201':
          description: The Event
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedEventsDto'
        '400':
          description: Event already exists
      summary: Create event (legacy)
      tags:
      - Events
    get:
      operationId: IntegratorsApiEventsController_getEvents
      parameters:
      - name: page
        required: true
        in: query
        description: Page Number
        schema:
          default: 1
          type: number
      - name: limit
        required: true
        in: query
        description: Number of items to return
        schema:
          default: 50
          type: number
      - name: filter
        required: false
        in: query
        description: "\n      Supported items for filter: eventTypeId, customerId, differentiator, datetime\n\n      Datetime should be in YYYY-MM-DD format"
        schema:
          type: string
      responses:
        '200':
          description: Get all Events by filter
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      allOf:
                      - $ref: '#/components/schemas/PaginatedResponseDTO'
                      - properties:
                          data:
                            type: array
                            items:
                              $ref: '#/components/schemas/CreatedEventsDto'
                          limit:
                            type: number
                          totalItems:
                            type: number
                          currentPage:
                            type: number
      summary: List events (legacy)
      tags:
      - Events
  /v3/events/{id}:
    delete:
      operationId: IntegratorsApiEventsController_deleteEvents
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: The Events
      summary: Delete event (legacy)
      tags:
      - Events
  /v3/events/types:
    get:
      operationId: IntegratorsApiEventsController_getEventTypes
      parameters:
      - name: page
        required: true
        in: query
        description: Page Number
        schema:
          default: 1
          type: number
      - name: limit
        required: true
        in: query
        description: Number of items to return
        schema:
          default: 50
          type: number
      - name: filter
        required: false
        in: query
        description: 'Supported items for filter: name'
        schema:
          type: string
      responses:
        '200':
          description: Get all Event Types
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      allOf:
                      - $ref: '#/components/schemas/PaginatedResponseDTO'
                      - properties:
                          data:
                            type: array
                            items:
                              $ref: '#/components/schemas/EventTypeDto'
                          limit:
                            type: number
                          totalItems:
                            type: number
                          currentPage:
                            type: number
      summary: List event types
      tags:
      - Events
    post:
      operationId: IntegratorsApiEventsController_createEventType
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEventTypeDto'
      responses:
        '200':
          description: The Event Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventTypeDto'
        '400':
          description: Event Type already exists
      summary: Create event type
      tags:
      - Events
  /v3/events/types/{eventTypeId}:
    get:
      operationId: IntegratorsApiEventsController_getEventTypeByEventTypeId
      parameters:
      - name: eventTypeId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: The Event Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventTypeDto'
        '404':
          description: Event Type not found
      summary: Get event type by ID
      tags:
      - Events
    delete:
      operationId: IntegratorsApiEventsController_deleteEventType
      parameters:
      - name: eventTypeId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: The Event Type
        '400':
          description: Event Type is still in use and cannot be deleted
        '404':
          description: Event Type not found
      summary: Delete event type
      tags:
      - Events
  /v3/classes:
    get:
      description: Class comes from QBO only, and can be populated on an obligation. This does not apply to NS users
      operationId: IntegratorsApiClassesController_getClasses
      parameters: []
      responses:
        '200':
          description: Get QBO Classes
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      properties:
                        data:
                          type: array
                          items:
                            $ref: '#/components/schemas/ClassModelDto'
      summary: List classes
      tags:
      - Classes (QBO only)
  /v3/departments:
    get:
      description: Departments synced from the connected ERP (QuickBooks, NetSuite, or Sage Intacct). Can be populated on an obligation or billing term.
      operationId: IntegratorsApiDepartmentsController_getDepartments
      parameters: []
      responses:
        '200':
          description: Get departments
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      properties:
                        data:
                          type: array
                          items:
                            $ref: '#/components/schemas/DepartmentModelDto'
      summary: List departments
      tags:
      - Departments
  /v3/projects:
    get:
      description: Projects synced from the connected ERP (e.g. Sage Intacct). Can be populated on an obligation or billing term. A project may be tied to a single customer via customerId, or null for internal projects.
      operationId: IntegratorsApiProjectsController_getProjects
      parameters: []
      responses:
        '200':
          description: Get projects
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      properties:
                        data:
                          type: array
                          items:
                            $ref: '#/components/schemas/ProjectModelDto'
      summary: List projects
      tags:
      - Projects
  /v3/custom-fields:
    get:
      operationId: IntegratorsApiCustomFieldsController_getCustomFields
      parameters: []
      responses:
        '200':
          description: Get all custom fields
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      properties:
                        data:
                          type: array
                          items:
                            $ref: '#/components/schemas/CustomFieldDto'
        '500':
          description: Internal server error
      summary: List custom fields
      tags:
      - Custom Fields
  /v3/items:
    get:
      operationId: IntegratorsApiItemsController_getItems
      parameters:
      - name: page
        required: true
        in: query
        description: Page Number
        schema:
          default: 1
          type: number
      - name: limit
        required: true
        in: query
        description: Number of items to return
        schema:
          default: 50
          type: number
      - name: filter
        required: false
        in: query
        description: "\n        Supported items for filter: name, externalId, externalIdType\n\n        Acceptable externalIdTypes: QUICKBOOKS, NETSUITE, RILLET, SAGE_INTACCT, SALESFORCE, HUBSPOT, AVALARA, ANROK, STRIPE\n        "
        schema:
          type: string
      responses:
        '200':
          description: Get all Items by filter
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      allOf:
                      - $ref: '#/components/schemas/PaginatedResponseDTO'
                      - properties:
                          data:
                            type: array
                            items:
                              $ref: '#/components/schemas/ItemV3Dto'
                          limit:
                            type: number
                          totalItems:
                            type: number
                          currentPage:
                            type: number
      summary: List items
      tags:
      - Items
  /v3/items/{id}:
    get:
      operationId: IntegratorsApiItemsController_getItemById
      parameters:
      - name: id
        required: true
        in: path
        description: Item Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      responses:
        '200':
          description: The item
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      allOf:
                      - $ref: '#/components/schemas/ItemV3Dto'
        '404':
          description: Item not found
      summary: Get item by ID
      tags:
      - Items
  /v3/customers/{id}:
    get:
      operationId: IntegratorsApiCustomersController_getCustomerById
      parameters:
      - name: id
        required: true
        in: path
        description: Customer Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      responses:
        '200':
          description: The Customer
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      allOf:
                      - $ref: '#/components/schemas/CustomerV3Dto'
        '404':
          description: Customer not found
      summary: Get customer by ID
      tags:
      - Customers
    delete:
      operationId: IntegratorsApiCustomersController_deleteCustomer
      parameters:
      - name: id
        required: true
        in: path
        description: Customer Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      responses:
        '200':
          description: Deleted customer
        '404':
          description: Customer not found
      summary: Delete customer
      tags:
      - Customers
  /v3/customers:
    get:
      operationId: IntegratorsApiCustomersController_getCustomers
      parameters:
      - name: page
        required: true
        in: query
        description: Page Number
        schema:
          default: 1
          type: number
      - name: limit
        required: true
        in: query
        description: Number of items to return
        schema:
          default: 50
          type: number
      - name: filter
        required: false
        in: query
        description: 'Supported items for filter: name, externalIds.externalId, lastUpdatedAt. Date format for lastUpdatedAt: YYYY-MM-DD'
        schema:
          type: string
      responses:
        '200':
          description: Get all Customers by filter
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      allOf:
                      - $ref: '#/components/schemas/PaginatedResponseDTO'
                      - properties:
                          data:
                            type: array
                            items:
                              $ref: '#/components/schemas/CustomerV3Dto'
                          limit:
                            type: number
                          totalItems:
                            type: number
                          currentPage:
                            type: number
      summary: List customers
      tags:
      - Customers
    post:
      operationId: IntegratorsApiCustomersController_createCustomer
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerV3Dto'
      responses:
        '202':
          description: Created customer
        '500':
          description: Internal server error
      summary: Create customer
      tags:
      - Customers
  /v3/customers/{id}/sub-customers:
    post:
      operationId: IntegratorsApiCustomersController_createSubCustomer
      parameters:
      - name: id
        required: true
        in: path
        description: Customer Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSubCustomerDto'
      responses:
        '201':
          description: Created sub customer
        '500':
          description: Internal server error
      summary: Create sub-customer
      tags:
      - Customers
  /v3/customers/{id}/invoices/{invoiceId}:
    get:
      operationId: IntegratorsApiCustomersController_getInvoice
      parameters:
      - name: id
        required: true
        in: path
        description: Customer Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      - name: invoiceId
        required: true
        in: path
        description: Invoice Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      responses:
        '200':
          description: The invoice
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      allOf:
                      - $ref: '#/components/schemas/InvoiceV3Dto'
        '404':
          description: Invoice not found
      summary: Get customer invoice by ID
      tags:
      - Customers
  /v3/customers/{id}/invoices/{invoiceId}/external-ids:
    patch:
      operationId: IntegratorsApiCustomersController_updateInvoiceExternalIds
      parameters:
      - name: id
        required: true
        in: path
        description: Customer Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      - name: invoiceId
        required: true
        in: path
        description: Invoice Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInvoiceExternalIdsDto'
      responses:
        '200':
          description: Updated invoice external IDs
        '404':
          description: Invoice not found
      summary: Update invoice external IDs
      tags:
      - Customers
  /v3/customers/{id}/invoices/{invoiceId}/pdf:
    get:
      operationId: IntegratorsApiCustomersController_getInvoiceAsPdf
      parameters:
      - name: id
        required: true
        in: path
        description: Customer Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      - name: invoiceId
        required: true
        in: path
        description: Invoice Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      - name: type
        required: true
        in: query
        description: Type of the response either pdf or buffer
        schema:
          example: pdf
          type: string
      responses:
        '200':
          description: PDF file download
          content:
            application/pdf:
              schema:
                type: string
                format: binary
      summary: Download invoice PDF
      tags:
      - Customers
  /v3/customers/{id}/invoices/{invoiceId}/actions:
    post:
      operationId: IntegratorsApiCustomersController_invoiceActions
      parameters:
      - name: id
        required: true
        in: path
        description: Customer Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      - name: invoiceId
        required: true
        in: path
        description: Invoice Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      requestBody:
        required: true
        description: 'Invoice actions for sending an invoice. Validation rules:

          1. At least one of sendToErp or sendToCustomer must be true

          2. sendToErp can be true while sendToCustomer is false (push to ERP only)

          3. sendToCustomer can be true while sendToErp is false (email customer only; useful when no ERP is connected)

          4. If sendToErp is true but the merchant has no ERP integration connected, the request is rejected

          5. the field overrideInvoiceDate is optional'
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/SendInvoiceDto'
              - $ref: '#/components/schemas/MarkInvoiceAsPendingDto'
              - $ref: '#/components/schemas/MarkInvoiceToSentOffTabsDto'
              - $ref: '#/components/schemas/MarkInvoiceAsScheduledDto'
              - $ref: '#/components/schemas/MarkInvoiceAsVoidDto'
              - $ref: '#/components/schemas/SendReminderEmailDto'
            examples:
              sendToBothWithoutOverrideInvoiceDate:
                summary: Send to both ERP and customer without overrideInvoiceDate
                value:
                  action: SEND
                  sendToErp: true
                  sendToCustomer: true
                  overrideInvoiceDate: false
              sendToBothWithOverrideInvoiceDate:
                summary: Send to both ERP and customer with overrideInvoiceDate
                value:
                  action: SEND
                  sendToErp: true
                  sendToCustomer: true
                  overrideInvoiceDate: true
              sendToErpOnly:
                summary: Send only to ERP
                value:
                  action: SEND
                  sendToErp: true
                  sendToCustomer: false
                  overrideInvoiceDate: false
              sendToCustomerOnly:
                summary: Send only to customer (e.g. merchant has no ERP connected)
                value:
                  action: SEND
                  sendToErp: false
                  sendToCustomer: true
                  overrideInvoiceDate: false
              markAsPending:
                summary: Mark invoice as pending
                value:
                  action: MARK_INVOICE_AS_PENDING
                  markInvoiceAsPending: true
              markAsSentOffTabs:
                summary: Mark invoice as sent off Tabs
                value:
                  action: MARK_INVOICE_TO_SENT_OFF_TABS
                  markInvoiceToSentOffTabs: true
              markAsScheduled:
                summary: Mark invoice as scheduled
                value:
                  action: MARK_INVOICE_AS_SCHEDULED
                  markInvoiceAsScheduled: true
              markAsVoid:
                summary: Mark invoice as void
                value:
                  action: MARK_INVOICE_AS_VOID
                  markInvoiceAsVoid: true
              sendReminderEmail:
                summary: Send reminder email
                value:
                  action: SEND_REMINDER_EMAIL
                  sendReminderEmail: true
      responses:
        '200':
          description: Invoice marked as pending or sent off Tabs successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      allOf:
                      - $ref: '#/components/schemas/InvoiceV3Dto'
        '201':
          description: Invoice send job created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 'Invoice send job created, jobId: 123e4567-e89b-12d3-a456-426614174000, please check the job status via /jobs/:jobId'
        '400':
          description: 'Invalid combination: at least one of sendToErp or sendToCustomer must be true, or sendToErp was requested but the merchant has no ERP integration connected'
        '500':
          description: Internal server error
      summary: Perform invoice action
      tags:
      - Customers
  /v3/customers/{id}/invoices/{invoiceId}/payments/{paymentId}:
    get:
      operationId: IntegratorsApiCustomersController_getPayment
      parameters:
      - name: id
        required: true
        in: path
        description: Customer Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      - name: invoiceId
        required: true
        in: path
        description: Invoice Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      - name: paymentId
        required: true
        in: path
        description: Payment Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      responses:
        '200':
          description: The payment
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      allOf:
                      - $ref: '#/components/schemas/PaymentsV3Dto'
        '404':
          description: Payment not found
      summary: Get invoice payment by ID
      tags:
      - Customers
  /v3/customers/{id}/invoices/{invoiceId}/payments:
    post:
      operationId: IntegratorsApiCustomersController_createPayment
      parameters:
      - name: id
        required: true
        in: path
        description: Customer Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      - name: invoiceId
        required: true
        in: path
        description: Invoice Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentV3Dto'
      responses:
        '200':
          description: Created payment
      summary: Create invoice payment
      tags:
      - Customers
  /v3/customers/{id}/invoices/{invoiceId}/attachments:
    post:
      operationId: IntegratorsApiCustomersController_uploadAttachmentToInvoice
      parameters:
      - name: id
        required: true
        in: path
        description: Customer Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      - name: invoiceId
        required: true
        in: path
        description: Invoice Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: attachment uploaded successfully
        '404':
          description: Invoice not found
        '500':
          description: Internal server error
      summary: Upload invoice attachment
      tags:
      - Customers
  /v3/customers/{id}/autocharge:
    put:
      operationId: IntegratorsApiCustomersController_updateCustomerAutoCharge
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerAutoChargeV3Dto'
      responses:
        '200':
          description: Updated customer auto charge
        '404':
          description: Customer not found
        '500':
          description: Internal server error
      summary: Update customer auto-charge
      tags:
      - Customers
  /v3/customers/{id}/cc-fees-exemption:
    put:
      operationId: IntegratorsApiCustomersController_updateCustomerCCFeesExemption
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerCCFeesExemptionV3Dto'
      responses:
        '200':
          description: Updated customer CC fees exemption
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegratorsApiResponse'
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegratorsApiResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegratorsApiResponse'
      summary: Update customer credit card fees exemption
      tags:
      - Customers
  /v3/customers/{id}/custom-field:
    put:
      operationId: IntegratorsApiCustomersController_updateCustomerCustomField
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UpdateCustomerCustomFieldV3Dto'
      responses:
        '200':
          description: Updated customer custom field
        '400':
          description: Invalid request body structure or UUID format
        '404':
          description: Customer or custom field not found
        '500':
          description: Internal server error
      summary: Update customer custom fields
      tags:
      - Customers
  /v3/customers/{id}/contacts:
    post:
      operationId: IntegratorsApiCustomersController_createContacts
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateContactV3Dto'
      responses:
        '200':
          description: Created contacts
        '400':
          description: Invalid email address was provided or top level customers cannot be modified
        '404':
          description: Customer not found
        '500':
          description: Internal server error
      summary: Create customer contacts
      tags:
      - Customers
    get:
      operationId: IntegratorsApiCustomersController_getContacts
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: page
        required: true
        in: query
        description: Page Number
        schema:
          default: 1
          type: number
      - name: limit
        required: true
        in: query
        description: Number of items to return
        schema:
          default: 50
          type: number
      - name: filter
        required: false
        in: query
        description: 'Supported items for filter: firstName, lastName, email, isPrimaryContact, isCCEmail, lastUpdatedAt. Date format for lastUpdatedAt: YYYY-MM-DD'
        schema:
          type: string
      responses:
        '200':
          description: Get all Customers by filter
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      allOf:
                      - $ref: '#/components/schemas/PaginatedResponseDTO'
                      - properties:
                          data:
                            type: array
                            items:
                              $ref: '#/components/schemas/ContactV3Dto'
                          limit:
                            type: number
                          totalItems:
                            type: number
                          currentPage:
                            type: number
        '404':
          description: Customer not found
        '500':
          description: Internal server error
      summary: List customer contacts
      tags:
      - Customers
  /v3/customers/{id}/address:
    post:
      operationId: IntegratorsApiCustomersController_createAddress
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertAddressV3Dto'
      responses:
        '200':
          description: Created address
        '400':
          description: Top level customers cannot be modified
        '404':
          description: Customer not found
        '500':
          description: Internal server error
      summary: Create customer address
      tags:
      - Customers
  /v3/customers/{id}/contacts/{contactId}:
    patch:
      operationId: IntegratorsApiCustomersController_updateContact
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: contactId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContactV3Dto'
      responses:
        '200':
          description: Updated contact
        '400':
          description: Top level customers cannot be modified
        '404':
          description: Contact not found
        '500':
          description: Internal server error
      summary: Update customer contact
      tags:
      - Customers
  /v3/customers/{id}/external-ids:
    post:
      operationId: IntegratorsApiCustomersController_upsertCustomerExternalId
      parameters:
      - name: id
        required: true
        in: path
        description: Customer ID
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertCustomerExternalIdV3Dto'
      responses:
        '200':
          description: Customer external ID upserted successfully
          content:
            application/json:
              schema:
                properties:
                  payload:
                    $ref: '#/components/schemas/UpsertCustomerExternalIdV3Dto'
        '400':
          description: Bad request
        '404':
          description: Customer not found
      summary: Upsert customer external ID
      tags:
      - Customers
  /v3/customers/{id}/invoices/{invoiceId}/credit-memos:
    get:
      operationId: IntegratorsApiCustomersController_getCreditMemosByInvoice
      parameters:
      - name: id
        required: true
        in: path
        description: Customer ID
        schema:
          format: uuid
          type: string
      - name: invoiceId
        required: true
        in: path
        description: Invoice ID
        schema:
          format: uuid
          type: string
      responses:
        '200':
          description: Credit memos retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      type: array
                      items:
                        $ref: '#/components/schemas/CreditMemoDto'
        '404':
          description: Credit memos for invoice not found
        '500':
          description: Internal server error - Failed to get credit memo by invoice
      summary: List invoice credit memos
      tags:
      - Customers
  /v3/customers/{id}/name:
    patch:
      operationId: IntegratorsApiCustomersController_updateCustomerName
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              required:
              - name
      responses:
        '200':
          description: Updated customer name
        '400':
          description: Top level customers cannot be modified
        '404':
          description: Customer not found
        '500':
          description: Internal server error
      summary: Update customer name
      tags:
      - Customers
  /v3/customers/{id}/invoices/{invoiceId}/po:
    put:
      operationId: IntegratorsApiCustomersController_updateInvoicePO
      parameters:
      - name: id
        required: true
        in: path
        description: Customer ID
        schema:
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      - name: invoiceId
        required: true
        in: path
        description: Invoice ID
        schema:
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInvoicePODto'
      responses:
        '200':
          description: Updated PO number
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      allOf:
                      - $ref: '#/components/schemas/UpdateInvoicePOResponseDto'
        '404':
          description: Customer not found or invoice not found
        '500':
          description: Internal server error
      summary: Update invoice PO number
      tags:
      - Customers
  /v3/customers/{id}/invoices/{invoiceId}/memo:
    put:
      operationId: IntegratorsApiCustomersController_updateInvoiceMemo
      parameters:
      - name: id
        required: true
        in: path
        description: Customer ID
        schema:
          format: uuid
          type: string
      - name: invoiceId
        required: true
        in: path
        description: Invoice ID
        schema:
          format: uuid
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInvoiceMemoBodyDto'
      responses:
        '200':
          description: Updated memo successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      allOf:
                      - $ref: '#/components/schemas/UpdateInvoiceMemoResponseDto'
        '404':
          description: Customer not found or invoice not found
        '500':
          description: Internal server error
      summary: Update invoice memo
      tags:
      - Customers
  /v3/contracts:
    get:
      operationId: IntegratorsApiContractsv3Controller_getContracts
      parameters:
      - name: page
        required: true
        in: query
        description: Page Number
        schema:
          default: 1
          type: number
      - name: limit
        required: true
        in: query
        description: Number of items to return
        schema:
          default: 50
          type: number
      - name: filter
        required: false
        in: query
        description: 'Supported items for filter: name, externalIds.externalId, externalIds.sourceType, source, status, customerId, createdAt, lastUpdatedAt. Date format for createdAt and lastUpdatedAt: YYYY-MM-DD'
        schema:
          type: string
      responses:
        '200':
          description: Get all Contracts by filter
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - type: object
                  properties:
                    payload:
                      allOf:
                      - $ref: '#/components/schemas/PaginatedResponseDTO'
                      - type: object
                        properties:
                          data:
                            type: array
                            items:
                              $ref: '#/components/schemas/ContractsV3Dto'
                          limit:
                            type: number
                          totalItems:
                            type: number
                          currentPage:
                            type: number
      summary: List contracts
      tags:
      - Contracts
    post:
      operationId: IntegratorsApiContractsv3Controller_createContract
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContractV3Dto'
      responses:
        '201':
          description: Created contract
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractsV3Dto'
        '400':
          description: Invalid request body
        '500':
          description: Internal server error
      summary: Create contract
      tags:
      - Contracts
  /v3/contracts/{id}:
    get:
      operationId: IntegratorsApiContractsv3Controller_getContractById
      parameters:
      - name: id
        required: true
        in: path
        description: Contract Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      responses:
        '200':
          description: The contract
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      allOf:
                      - $ref: '#/components/schemas/ContractsV3Dto'
        '400':
          description: Contract is deleted
        '404':
          description: Contract not found
      summary: Get contract by ID
      tags:
      - Contracts
    patch:
      operationId: IntegratorsApiContractsv3Controller_updateContract
      parameters:
      - name: id
        required: true
        in: path
        description: Contract Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContractV3Dto'
      responses:
        '200':
          description: Contract updated successfully
        '404':
          description: Contract not found
        '500':
          description: Internal server error
      summary: Update contract
      tags:
      - Contracts
  /v3/contracts/{id}/file:
    post:
      operationId: IntegratorsApiContractsv3Controller_uploadContractFile
      parameters:
      - name: id
        required: true
        in: path
        description: Contract Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      - name: shouldProcess
        required: false
        in: query
        description: Whether to trigger contract processing after file upload. Defaults to true.
        schema:
          type: boolean
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Contract file was replaced successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      allOf:
                      - $ref: '#/components/schemas/ContractsV3Dto'
      summary: Upload contract file
      tags:
      - Contracts
    get:
      operationId: IntegratorsApiContractsv3Controller_getContractFile
      parameters:
      - name: id
        required: true
        in: path
        description: Contract Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      responses:
        '200':
          description: PDF file download
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '500':
          description: Internal server error or contract has no file
      summary: Download contract file
      tags:
      - Contracts
  /v3/contracts/{id}/obligations:
    post:
      operationId: IntegratorsApiContractsv3Controller_createObligation
      parameters:
      - name: id
        required: true
        in: path
        description: Contract Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateObligationDto'
      responses:
        '201':
          description: The obligation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObligationDto'
        '400':
          description: Invalid request body
      summary: Create contract obligation
      tags:
      - Contracts
  /v3/contracts/{id}/obligations/{obligationId}:
    get:
      operationId: IntegratorsApiContractsv3Controller_getObligation
      parameters:
      - name: id
        required: true
        in: path
        description: Contract Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      - name: obligationId
        required: true
        in: path
        description: Obligation Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      responses:
        '200':
          description: The obligation
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      allOf:
                      - $ref: '#/components/schemas/ObligationDto'
        '404':
          description: Obligation not found
      summary: Get contract obligation by ID
      tags:
      - Contracts
    delete:
      operationId: IntegratorsApiContractsv3Controller_deleteObligation
      parameters:
      - name: id
        required: true
        in: path
        description: Contract Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      - name: obligationId
        required: true
        in: path
        description: Obligation Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      responses:
        '200':
          description: Deleted obligation
        '400':
          description: Obligation not found
        '500':
          description: Internal server error
      summary: Delete contract obligation
      tags:
      - Contracts
  /v3/contracts/{id}/actions:
    post:
      operationId: IntegratorsApiContractsv3Controller_contractActions
      parameters:
      - name: id
        required: true
        in: path
        description: Contract Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      requestBody:
        required: true
        description: 'For Rillet merchants only: Close Date is required when marking contracts as processed.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractActionDto'
            examples:
              valid1:
                summary: Mark as processed
                value:
                  action: MARK_AS_PROCESSED
              valid2:
                summary: Mark as deleted
                value:
                  action: MARK_AS_DELETED
      responses:
        '200':
          description: Contract actions executed successfully
        '400':
          description: Invalid request body
      summary: Perform contract action
      tags:
      - Contracts
  /v3/contracts/{id}/obligation/{obligationId}:
    patch:
      operationId: IntegratorsApiContractsv3Controller_updateObligation
      parameters:
      - name: id
        required: true
        in: path
        description: Contract Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      - name: obligationId
        required: true
        in: path
        description: Obligation Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateObligationDto'
      responses:
        '200':
          description: Obligation updated successfully
        '404':
          description: Obligation not found
        '500':
          description: Internal server error
      summary: Update contract obligation
      tags:
      - Contracts
  /v3/contracts/{id}/obligation/{obligationId}/custom-revenue:
    post:
      operationId: IntegratorsApiContractsv3Controller_upsertCustomRevenue
      parameters:
      - name: id
        required: true
        in: path
        description: Contract id
        schema:
          type: string
      - name: obligationId
        required: true
        in: path
        description: Obligation id
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CustomRevenue'
      responses:
        '200':
          description: Upsert custom revenue
        '400':
          description: Bad request body, e.g. invalid timeframe
        '404':
          description: Contract or obligation not found
        '500':
          description: Internal server error
      summary: Upsert obligation custom revenue
      tags:
      - Contracts
  /v3/contracts/{id}/billing-term-groups:
    get:
      operationId: IntegratorsApiContractsv3Controller_getBillingTermGroups
      parameters:
      - name: id
        required: true
        in: path
        description: Contract Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      - name: page
        required: true
        in: query
        description: Page Number
        schema:
          default: 1
          type: number
      - name: limit
        required: true
        in: query
        description: Number of items to return
        schema:
          default: 50
          type: number
      - name: filter
        required: false
        in: query
        description: "\n        Supported items for filter: createdAt, updatedAt\n\n        Dates should be in YYYY-MM-DD format\n        "
        schema:
          type: string
      responses:
        '200':
          description: Billing term groups for the contract
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      allOf:
                      - $ref: '#/components/schemas/PaginatedResponseDTO'
                      - properties:
                          data:
                            type: array
                            items:
                              $ref: '#/components/schemas/BillingTermGroupDto'
                          limit:
                            type: number
                          totalItems:
                            type: number
                          currentPage:
                            type: number
        '400':
          description: Invalid contract ID or performance obligation features not enabled for this merchant
        '404':
          description: Contract not found
        '500':
          description: Internal Server Error
      summary: List contract billing term groups
      tags:
      - Contracts
  /v3/contracts/{id}/billing-term-groups/{groupId}:
    delete:
      operationId: IntegratorsApiContractsv3Controller_deleteBillingTermGroup
      parameters:
      - name: id
        required: true
        in: path
        description: Contract Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      - name: groupId
        required: true
        in: path
        description: Billing Term Group Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      responses:
        '200':
          description: Billing term group and associated entities deleted successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      type: object
                      properties:
                        message:
                          type: string
        '400':
          description: Invalid contract/group ID or performance obligation features not enabled for this merchant
        '404':
          description: Contract or billing term group not found
        '500':
          description: Internal Server Error
      summary: Delete contract billing term group
      tags:
      - Contracts
  /v3/contracts/{id}/performance-obligations:
    get:
      operationId: IntegratorsApiContractsv3Controller_getPerformanceObligationsWithRevenue
      parameters:
      - name: id
        required: true
        in: path
        description: Contract Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      - name: billingTermGroupId
        required: false
        in: query
        description: Optional billing term group ID to filter results
        schema:
          type: string
      - name: page
        required: true
        in: query
        description: Page Number
        schema:
          default: 1
          type: number
      - name: limit
        required: true
        in: query
        description: Number of items to return
        schema:
          default: 50
          type: number
      - name: filter
        required: false
        in: query
        description: "\n        Supported items for filter: createdAt, updatedAt\n\n        Dates should be in YYYY-MM-DD format\n        "
        schema:
          type: string
      responses:
        '200':
          description: Performance obligations with recognized revenue for the contract
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      allOf:
                      - $ref: '#/components/schemas/PaginatedResponseDTO'
                      - properties:
                          data:
                            type: array
                            items:
                              $ref: '#/components/schemas/PerformanceObligationDetailResponseDto'
                          limit:
                            type: number
                          totalItems:
                            type: number
                          currentPage:
                            type: number
                          totalTransactionPrice:
                            type: number
        '400':
          description: Performance obligation features not enabled for this merchant
        '404':
          description: Contract not found
        '500':
          description: Internal Server Error
      summary: List contract performance obligations
      tags:
      - Contracts
    post:
      operationId: IntegratorsApiContractsv3Controller_batchSavePobsForContract
      parameters:
      - name: id
        required: true
        in: path
        description: Contract Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      requestBody:
        required: true
        description: Batch create, update, and delete performance obligations scoped to a billing term group
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchSavePobsForContractDto'
      responses:
        '200':
          description: Batch save completed successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      $ref: '#/components/schemas/BatchSavePerformanceObligationsResponseDto'
        '400':
          description: Validation error or performance obligation features not enabled
        '404':
          description: Contract not found
        '500':
          description: Internal Server Error
      summary: Bulk save contract performance obligations
      tags:
      - Contracts
  /v3/contracts/{id}/performance-obligations/{pobId}:
    patch:
      operationId: IntegratorsApiContractsv3Controller_updatePerformanceObligation
      parameters:
      - name: id
        required: true
        in: path
        description: Contract Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      - name: pobId
        required: true
        in: path
        description: Performance Obligation Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      requestBody:
        required: true
        description: Fields to update on the performance obligation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePerformanceObligationForContractDto'
      responses:
        '200':
          description: Performance obligation updated successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      $ref: '#/components/schemas/PerformanceObligationDetailResponseDto'
        '400':
          description: Validation error or performance obligation features not enabled
        '404':
          description: Contract or performance obligation not found
        '500':
          description: Internal Server Error
      summary: Update contract performance obligation
      tags:
      - Contracts
  /v3/contracts/{id}/billing-terms:
    get:
      operationId: IntegratorsApiContractsv3Controller_getBillingTerms
      parameters:
      - name: id
        required: true
        in: path
        description: Contract Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      - name: billingTermGroupId
        required: false
        in: query
        description: Optional billing term group (BTG) ID to filter by
        schema:
          type: string
      - name: page
        required: true
        in: query
        description: Page Number
        schema:
          default: 1
          type: number
      - name: limit
        required: true
        in: query
        description: Number of items to return
        schema:
          default: 50
          type: number
      responses:
        '200':
          description: Billing terms for the contract
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      allOf:
                      - $ref: '#/components/schemas/PaginatedResponseDTO'
                      - properties:
                          data:
                            type: array
                            items:
                              $ref: '#/components/schemas/GetBillingTermItemDto'
                          limit:
                            type: number
                          totalItems:
                            type: number
                          currentPage:
                            type: number
        '404':
          description: Contract not found
        '500':
          description: Internal Server Error
      summary: List contract billing terms
      tags:
      - Contracts
    post:
      operationId: IntegratorsApiContractsv3Controller_createBillingTerm
      parameters:
      - name: id
        required: true
        in: path
        description: Contract Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBillingTermDto'
      responses:
        '201':
          description: Billing term created
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      $ref: '#/components/schemas/BillingTermResponseDto'
        '400':
          description: Bad Request - validation failed
        '404':
          description: Contract not found
        '500':
          description: Internal Server Error
      summary: Create contract billing term
      tags:
      - Contracts
  /v3/contracts/{id}/billing-terms/{billingTermId}:
    patch:
      operationId: IntegratorsApiContractsv3Controller_patchBillingTerm
      parameters:
      - name: id
        required: true
        in: path
        description: Contract Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      - name: billingTermId
        required: true
        in: path
        description: Billing Term Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchBillingTermDto'
      responses:
        '200':
          description: Billing term updated
        '400':
          description: Bad Request - validation failed
        '404':
          description: Contract or billing term not found
        '500':
          description: Internal Server Error
      summary: Update contract billing term
      tags:
      - Contracts
    delete:
      operationId: IntegratorsApiContractsv3Controller_deleteBillingTerm
      parameters:
      - name: id
        required: true
        in: path
        description: Contract Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      - name: billingTermId
        required: true
        in: path
        description: Billing Term Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      responses:
        '200':
          description: Billing term deleted
        '404':
          description: Contract or billing term not found
        '409':
          description: 'Cannot delete: a POB with matching event type exists in the group'
        '500':
          description: Internal Server Error
      summary: Delete contract billing term
      tags:
      - Contracts
  /v3.1/contracts/{id}/obligation/{obligationId}:
    patch:
      operationId: IntegratorsApiContractsV31Controller_updateObligation
      parameters:
      - name: id
        required: true
        in: path
        description: Contract Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      - name: obligationId
        required: true
        in: path
        description: Obligation Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateObligationDto'
      responses:
        '200':
          description: Obligation updated successfully
        '404':
          description: Obligation not found
        '500':
          description: Internal server error
      summary: Update contract obligation
      tags:
      - Contracts
  /v3/contracts/deleted:
    get:
      operationId: IntegratorsApiContractsv3Controller_getDeletedContracts
      parameters:
      - name: page
        required: true
        in: query
        description: Page Number
        schema:
          default: 1
          type: number
      - name: limit
        required: true
        in: query
        description: Number of items to return
        schema:
          default: 50
          type: number
      - name: filter
        required: false
        in: query
        description: 'Supported items for filter: name, externalIds.externalId, externalIds.sourceType, source, status, customerId, createdAt, lastUpdatedAt, deletedAt. Date format for createdAt, lastUpdatedAt, and deletedAt: YYYY-MM-DD'
        schema:
          type: string
      responses:
        '200':
          description: Get all deleted Contracts by filter, sorted by deletedAt desc
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - type: object
                  properties:
                    payload:
                      allOf:
                      - $ref: '#/components/schemas/PaginatedResponseDTO'
                      - type: object
                        properties:
                          data:
                            type: array
                            items:
                              $ref: '#/components/schemas/ContractsV3Dto'
                          limit:
                            type: number
                          totalItems:
                            type: number
                          currentPage:
                            type: number
      summary: List deleted contracts
      tags:
      - Contracts
  /v3/contracts/{id}/billing-term-groups/{groupId}/event-type:
    patch:
      operationId: IntegratorsApiContractsv3Controller_changeBillingTermGroupEventType
      parameters:
      - name: id
        required: true
        in: path
        description: Contract Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      - name: groupId
        required: true
        in: path
        description: Billing Term Group Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeBillingTermGroupEventTypeDto'
      responses:
        '200':
          description: Event type changed for the selected billing terms and performance obligations within the group; any rows not listed in the request are left untouched. The change is applied atomically and is only accepted if the group's event types stay in sync afterward.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      $ref: '#/components/schemas/ChangeBillingTermGroupEventTypeResponseDto'
        '400':
          description: Invalid request, or a provided BT/POB does not belong to the group
        '404':
          description: Contract, billing term group, or target event type not found
        '409':
          description: Change would break the event-type invariant for the group
        '500':
          description: Internal Server Error
      summary: Change event type for selected billing terms and POBs in a group
      tags:
      - Contracts
  /v3/obligations:
    get:
      operationId: IntegratorsApiObligationsController_getObligations
      parameters:
      - name: page
        required: true
        in: query
        description: Page Number
        schema:
          default: 1
          type: number
      - name: limit
        required: true
        in: query
        description: Number of items to return
        schema:
          default: 50
          type: number
      - name: filter
        required: false
        in: query
        description: "\n        Supported items for filter: contractId, customerId, startDate, endDate, serviceStartDate, serviceEndDate\n\n        Dates should be in YYYY-MM-DD format\n        "
        schema:
          type: string
      responses:
        '200':
          description: Get all Obligations by filter
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      allOf:
                      - $ref: '#/components/schemas/PaginatedResponseDTO'
                      - properties:
                          data:
                            type: array
                            items:
                              $ref: '#/components/schemas/ObligationDto'
                          limit:
                            type: number
                          totalItems:
                            type: number
                          currentPage:
                            type: number
      summary: List obligations
      tags:
      - Obligations
  /v3/invoices:
    get:
      operationId: IntegratorsApiInvoicesController_getInvoices
      parameters:
      - name: page
        required: true
        in: query
        description: Page Number
        schema:
          default: 1
          type: number
      - name: limit
        required: true
        in: query
        description: Number of items to return
        schema:
          default: 50
          type: number
      - name: filter
        required: false
        in: query
        description: "\n            Supported items for filter: customerId, total, contractId, obligationId, source, status, issueDate, dueDate, lastUpdatedAt.\n\n            \"Dates should be in YYYY-MM-DD format\"\n            "
        schema:
          type: string
      responses:
        '200':
          description: Get all Invoices by filter
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      allOf:
                      - $ref: '#/components/schemas/PaginatedResponseDTO'
                      - properties:
                          data:
                            type: array
                            items:
                              $ref: '#/components/schemas/InvoiceV3Dto'
                          limit:
                            type: number
                          totalItems:
                            type: number
                          currentPage:
                            type: number
      summary: List invoices
      tags:
      - Invoices
  /v3/payments:
    get:
      operationId: IntegratorsApiPaymentsController_getPayments
      parameters:
      - name: page
        required: true
        in: query
        description: Page Number
        schema:
          default: 1
          type: number
      - name: limit
        required: true
        in: query
        description: Number of items to return
        schema:
          default: 50
          type: number
      - name: filter
        required: false
        in: query
        description: "\n        Supported items for filter: receivedAt, status, type, invoiceId, customerId.\n\n        Filtering parameter in the format \"property:rule:value\".\n\n        Example: \"receivedAt:eq:[some date]\" or \"status:eq:[some status]\".\n\n        For multiple filters use \"receivedAt:eq:[some date],status:eq:[some status]\".\n\n        Supported rules: eq, neq, gt, gte, lt, lte, like, nlike, in, nin, isnull, isnotnull.\n        "
        schema:
          type: string
      responses:
        '200':
          description: Get all Payments by filter
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      allOf:
                      - $ref: '#/components/schemas/PaginatedResponseDTO'
                      - properties:
                          data:
                            type: array
                            items:
                              $ref: '#/components/schemas/PaymentsV3Dto'
                          limit:
                            type: number
                          totalItems:
                            type: number
                          currentPage:
                            type: number
      summary: List payments
      tags:
      - Payments
  /v3/categories:
    get:
      operationId: IntegratorsApiCategoriesController_getCategories
      parameters:
      - name: page
        required: true
        in: query
        description: Page Number
        schema:
          default: 1
          example: 1
          type: number
      - name: limit
        required: true
        in: query
        description: Number of items to return
        schema:
          default: 50
          example: 10
          type: number
      - name: filter
        required: false
        in: query
        description: 'Supported items for filter: name'
        schema:
          type: string
      responses:
        '200':
          description: Get all Categories by filter
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      allOf:
                      - $ref: '#/components/schemas/PaginatedResponseDTO'
                      - properties:
                          data:
                            type: array
                            items:
                              $ref: '#/components/schemas/CategoriesV3Dto'
                          limit:
                            type: number
                          totalItems:
                            type: number
                          currentPage:
                            type: number
      summary: List categories
      tags:
      - Categories
    post:
      operationId: IntegratorsApiCategoriesController_createCategory
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCategoryV3Dto'
      responses:
        '201':
          description: The Category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriesV3Dto'
        '400':
          description: Category already exists
        '500':
          description: Internal server error
      summary: Create category
      tags:
      - Categories
  /v3/categories/{id}:
    get:
      operationId: IntegratorsApiCategoriesController_getCategoryById
      parameters:
      - name: id
        required: true
        in: path
        description: Category Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      responses:
        '200':
          description: The Category
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      allOf:
                      - $ref: '#/components/schemas/CategoriesV3Dto'
        '404':
          description: Category not found
      summary: Get category by ID
      tags:
      - Categories
    delete:
      operationId: IntegratorsApiCategoriesController_deleteCategory
      parameters:
      - name: id
        required: true
        in: path
        description: Category Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      responses:
        '200':
          description: The category
        '404':
          description: Category not found
      summary: Delete category
      tags:
      - Categories
  /v3/jobs/{id}:
    get:
      operationId: IntegratorsApiJobsControllerV3_getJobStatusById
      parameters:
      - name: id
        required: true
        in: path
        description: Job Id
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
      responses:
        '200':
          description: Job Status
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      allOf:
                      - $ref: '#/components/schemas/JobDto'
        '404':
          description: Job not found
      summary: Get job by ID
      tags:
      - Jobs
  /v3/reports/cash-forecasting:
    get:
      description: Retrieves a paginated cash forecasting report showing due and paid amounts per period for each customer
      operationId: IntegratorsApiReportsController_getReport
      parameters:
      - name: page
        required: false
        in: query
        description: Page Number
        schema:
          default: 1
          type: number
      - name: limit
        required: false
        in: query
        description: Max items per page. Defaults to 50. Values above 500 will be rejected.
        schema:
          default: 50
          type: number
      - name: filter
        required: false
        in: query
        description: "\n            Supported items for filter: startMonth, endMonth, currency.\n\n            Months should be in YYYY-MM format. Set startMonth and endMonth to the same value to request a single month.\n\n            By default the forecast is capped to 120 months ahead of the current month; pass endMonth to extend or shorten that horizon.\n\n            Currency should be an ISO 4217 currency code (e.g., USD, INR, EUR).\n            "
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved cash forecasting report
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      allOf:
                      - $ref: '#/components/schemas/PaginatedResponseDTO'
                      - properties:
                          data:
                            type: array
                            items:
                              $ref: '#/components/schemas/CashForecastingReportDto'
                          limit:
                            type: number
                          totalItems:
                            type: number
                          currentPage:
                            type: number
        '401':
          description: Unauthorized - Invalid or missing API key
      summary: Get cash forecasting report
      tags:
      - Reports
  /v3/reports/arr:
    get:
      operationId: IntegratorsApiReportsController_getARR
      parameters:
      - name: page
        required: false
        in: query
        description: Page Number
        schema:
          default: 1
          type: number
      - name: limit
        required: false
        in: query
        description: Max items per page. Defaults to 50. Values above 500 will be rejected.
        schema:
          default: 50
          type: number
      - name: filter
        required: false
        in: query
        description: "\n            Supported items for filter: startMonth, endMonth, customerId, currency.\n\n            Months should be in YYYY-MM format.\n\n            Currency should be an ISO 4217 currency code (e.g., USD, INR, EUR).\n            "
        schema:
          type: string
      responses:
        '200':
          description: Get ARR by filter
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      allOf:
                      - $ref: '#/components/schemas/PaginatedResponseDTO'
                      - properties:
                          data:
                            type: array
                            items:
                              $ref: '#/components/schemas/GetARR'
                          limit:
                            type: number
                          totalItems:
                            type: number
                          currentPage:
                            type: number
      summary: Get ARR report
      tags:
      - Reports
  /v3/credit-memos/{id}:
    get:
      operationId: IntegratorsApiCreditMemosController_getCreditMemo
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Credit memo retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      $ref: '#/components/schemas/CreditMemoDto'
        '404':
          description: Credit memo not found
        '500':
          description: Internal server error - Failed to get credit memo
      summary: Get credit memo by ID
      tags:
      - Credit Memos
  /v3/credit-memos:
    get:
      operationId: IntegratorsApiCreditMemosController_getCreditMemos
      parameters:
      - name: page
        required: true
        in: query
        description: Page Number
        schema:
          default: 1
          type: number
      - name: limit
        required: true
        in: query
        description: Number of items to return
        schema:
          default: 50
          type: number
      - name: filter
        required: false
        in: query
        description: "\n        Supported properties: creditMemoNumber, customerId, issueDateFrom, issueDateTo, status, lastUpdatedAt\n\n        Supported rules: eq: equals, in: in, gt: greater than, gte: greater than or equals, lt: less than, lte: less than or equals\n\n        Dates should be in YYYY-MM-DD format. lastUpdatedAt also accepts ISO 8601 timestamps (e.g. 2023-01-01T00:00:00.000Z).\n\n        lastUpdatedAt supports gt, gte, lt, lte, and eq rules, and can be combined (e.g. gte + lt) by specifying it multiple times.\n\n        For multiple filters use \"property:rule:value,property:rule:value\".\n\n        Example: \"lastUpdatedAt:gte:2023-01-01T00:00:00.000Z,lastUpdatedAt:lt:2024-01-01T00:00:00.000Z,status:in:OPEN|APPLIED|VOID\".\n        "
        schema:
          type: string
      responses:
        '200':
          description: Get all Credit Memos by filter
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      allOf:
                      - $ref: '#/components/schemas/PaginatedResponseDTO'
                      - properties:
                          data:
                            type: array
                            items:
                              $ref: '#/components/schemas/CreditMemoDto'
                          limit:
                            type: number
                          totalItems:
                            type: number
                          currentPage:
                            type: number
      summary: List credit memos
      tags:
      - Credit Memos
    post:
      operationId: IntegratorsApiCreditMemosController_createCreditMemo
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCreditMemoRequestDto'
      responses:
        '201':
          description: Credit memo created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditMemoDto'
        '400':
          description: Bad request - Invalid input data
        '500':
          description: Internal server error - Failed to create credit memo
      summary: Create credit memo
      tags:
      - Credit Memos
  /v3/credit-memos/{id}/applications:
    post:
      operationId: IntegratorsApiCreditMemosController_applyCreditMemo
      parameters:
      - name: id
        required: true
        in: path
        description: Credit memo ID
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyCreditMemoRequestDto'
      responses:
        '201':
          description: Credit memo application created successfully
        '400':
          description: Bad request - Invalid input data
        '404':
          description: Not found - Credit memo or invoice not found
        '500':
          description: Internal server error - Failed to apply credit memo
      summary: Apply credit memo
      tags:
      - Credit Memos
  /v3/merchant/info:
    get:
      operationId: IntegratorsApiMerchantsControllerV3_getMerchantInfo
      parameters: []
      responses:
        '200':
          description: Merchant Info
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      allOf:
                      - $ref: '#/components/schemas/MerchantInfoDto'
        '404':
          description: Merchant not found
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      type: object
                      nullable: true
                    success:
                      type: boolean
                      example: false
                    message:
                      type: string
                      example: Operation failed
                    error:
                      type: object
                      properties:
                        code:
                          type: number
                          example: 404
                        message:
                          type: string
                          example: Merchant not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      type: object
                      nullable: true
                    success:
                      type: boolean
                      example: false
                    message:
                      type: string
                      example: Operation failed
                    error:
                      type: object
                      properties:
                        code:
                          type: number
                          example: 500
                        message:
                          type: string
                          example: Internal server error
      summary: Get merchant info
      tags:
      - Merchant
  /v3/merchant/book-close-date:
    get:
      operationId: IntegratorsApiMerchantsControllerV3_getBookCloseDate
      parameters: []
      responses:
        '200':
          description: Merchant book close date
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      allOf:
                      - $ref: '#/components/schemas/BookCloseDateDto'
      summary: Get book close date
      tags:
      - Merchant
  /v3/renewals:
    get:
      operationId: IntegratorsApiRenewalsController_getRenewals
      parameters:
      - name: page
        required: true
        in: query
        description: Page Number
        schema:
          default: 1
          type: number
      - name: limit
        required: true
        in: query
        description: Number of items to return
        schema:
          default: 50
          type: number
      - name: filter
        required: false
        in: query
        description: "\n        Supported items for filter: contractId, type, status, contractEndDate\n\n        - contractId: Contract ID to filter by\n        - type: Renewal type (AUTOMATIC, UNILATERAL, MUTUAL, NONE)\n        - status: Renewal status (DRAFT, APPROVED, DECLINED)\n        - contractEndDate: Filter by term end date in YYYY-MM-DD format\n        "
        schema:
          type: string
      responses:
        '200':
          description: Get all Renewals by filter
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      allOf:
                      - $ref: '#/components/schemas/PaginatedResponseDTO'
                      - properties:
                          data:
                            type: array
                            items:
                              $ref: '#/components/schemas/RenewalDto'
                          limit:
                            type: number
                          totalItems:
                            type: number
                          currentPage:
                            type: number
      summary: List renewals
      tags:
      - Renewals
  /v3.1/revenue:
    get:
      operationId: IntegratorsAPIRevenueV31Controller_getRevenues
      parameters:
      - name: page
        required: false
        in: query
        description: Page Number
        schema:
          default: 1
          type: number
      - name: limit
        required: false
        in: query
        description: Number of items to return
        schema:
          default: 50
          type: number
      - name: filter
        required: false
        in: query
        description: "\n            Supported items for filter: startMonth, endMonth, customerId, currency.\n\n            Months should be in YYYY-MM format.\n\n            Currency should be an ISO 4217 currency code (e.g., USD, INR, EUR).\n            "
        schema:
          type: string
      responses:
        '200':
          description: Get all Revenues by filter
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IntegratorsApiResponse'
                - properties:
                    payload:
                      allOf:
                      - $ref: '#/components/schemas/PaginatedResponseDTO'
                      - properties:
                          data:
                            type: array
                            items:
                              $ref: '#/components/schemas/GetRevenueV31'
                          limit:
                            type: number
                          totalItems:
                            type: number
                          currentPage:
                            type: number
      summary: List revenue
      tags:
      - Revenue
  /v3/performance-obligations:
    get:
      operationId: IntegratorsApiPerformanceObligationsController_searchPerformanceObligations
      parameters:
      - name: page
        required: true
        in: query
        description: Page Number
        schema:
          default: 1
          type: number
      - name: limit
        required: true
        in: query
        description: Number of items to return
[...]
